.alert {
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  background-color: rgb(30, 54, 64);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.alertion {
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: "Smokum", cursive;
  font-size: 40px;
  padding: 15px;
  margin-left: 50px;
}
.foroplayer {
  font-family: "Fredoka One", cursive;
  font-size: large;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  color: rgb(243, 179, 66);
  border: 2px solid white;
  background: rgb(30, 54, 64);
  box-shadow: 0px 3px 6px rgb(61, 61, 62);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 50px;
}
.foroplayer:hover {
  color: rgb(30, 54, 64);
  background-color: rgb(243, 179, 66);
}
.forxplayer {
  font-family: "Fredoka One", cursive;
  font-size: large;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  color: rgb(243, 179, 66);
  border: 2px solid white;
  background: rgb(30, 54, 64);
  box-shadow: 0px 3px 6px rgb(61, 61, 62);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}
.forxplayer:hover {
  color: rgb(30, 54, 64);
  background-color: rgb(243, 179, 66);
}
/* Target screens smaller than 768px */
@media (max-width: 768px) {
  .alert {
    margin-top: 250px; /* Reduce margin from top for better placement */
    padding: 20px; /* Reduce padding for better spacing on smaller screens */

    .alertion {
      font-size: 30px; /* Adjust font size for better readability */
      margin-left: 0; /* Remove left margin for centering */
      text-align: center;
      padding: 0px;
    }

    .foroplayer,
    .forxplayer {
      font-size: 18px;
      margin-top: 30px;
      width: 40px;
      height: 40px;
      margin-left: 0px;
      margin-right: 10px;
    }
  }
}
